@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #cc66ff;
}

.wrapper{
    width: 400px;
    position: absolute;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}

.container{
    width:100%;
    background-color: #cc66ff;
    padding: 50px 40px;
    box-shadow: 0 20px 65px rgba(78, 11, 87, 0.5);
    position: relative;
    border-radius: 9px;
    text-align: center;
}

.container:after{
    content: "";
    position: absolute;
    width: 80%;
    height: 120%;
    background-color: #fff;
    z-index: -1;
    top:-10%;
    left:10%;
}

.container p{
    color:#fff;
    line-height: 1.5;
    font-size: 18px;
}

.container h3{
    color:#fff;
    margin: 20px 0 60px 0;
    font-weight: 600;
    text-transform: capitalize;
}

.container button{
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 45px;
    font-size: 18px;
    color:#5c008a;
    cursor: pointer;
}

button:hover{
    color:white;
    background-color: #5c008a;
}

header h2{
    margin-top: 15px;
    margin-left: 15px;
    color:#fff;
    font-size: 30px;
}

header h4{
    font-weight: 100;
    margin-left: 20px;
    color:#fff;
    font-size: 15px;
}

h2:hover {
    color:#220033;
}

h4:hover {
    color:#4e0274;
}

.footer{
position: absolute;
bottom: 0;
}

.footer {
    list-style: none;
    display: flex;
}


.footer .fa{
    flex-direction:row;
    align-items: center;
    margin-bottom:10%;
    margin-left: 10%;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      color:#5c008a;
  }

.fa-twitter {
    color: white;
  }

  .fa-linkedin {
    color: white;
  }

  .fa-github {
    color: white;
  }